.find-icons {
    display: flex;
    justify-content: space-between;
}

.find-icons__icon {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.find-icons__icon i {
    font-size: 30px;
}

.find-icons__icon span {
    margin-top: 15px;
}

.recommended-friends {
    margin: 25px 0px;
    padding: 25px 0px;
    border-top: var(--main-borderbar);
    border-bottom: var(--main-borderbar);
}

.recommended-friends__title {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5)
}
.recommended-friends span {
    margin: 80px;
    display: block;
    text-align: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5)

}


.open-chat__header {
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    margin-bottom: 25px;
}

.open-chat__header span {
    opacity: 0.6;
}

.open-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-post__title {
    font-size: 600;
    margin-bottom: 7px;
}

.open-post__hashtags {
    text-transform: uppercase;
    opacity: 0.6;
}

.open-post_members {
    margin-top: 7px;
    display: flex;
    align-items: center;
}
.open-post_members img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}
.open-post_members-count {
    opacity: 0.5;
    font-size: 14px;
}
.open-post_members-count .divider {
    width: 2px;
    height: 13px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.2);
}
.open-post_members-status {
    color: #f877a0;
}

.opne-post__photo {
    position: relative;
}
.opne-post__photo img {
    object-fit: cover;  
    width: 120px;
    height: 120px;
    border-radius: 10px;
}
.open-post__heart-count {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
}
.open-post__heart-count span {
    margin-left: 4px;
}
