.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(235, 242, 242);
    padding: 20px 45px;
    box-sizing: border-box;
    border-top: 1px solid rgba(131, 131, 131, 0.3);
}

.nav__list {
    display: flex;
    justify-content: space-around;
}

.nav__link {
    position: relative;
    color: #2e363e;
}
.nav__notification {

    position: absolute;
    left: 15px;
    bottom: 15px;
}
.nav__ellipsis {
    background-color:  tomato;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 27px;
    bottom: 27px;
}