.status-bar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 5px 3px;
    box-sizing: border-box;

}
.status-bar__colume {
    width: 33%;
}

.status-bar__colume:first-child span{
    margin-right: 5px;
}
.status-bar__colume:nth-child(2) span{
    display: flex;
    justify-content: center;
}
.status-bar__colume:last-child {
    display: flex;
    justify-content: flex-end;
    align-items:center;
}
.status-bar__colume .fa-battery-three-quarters {
    margin: 0px 5px;
}
